@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Muli:wght@400;500&display=swap");
:root {

  /**
   * colors
   */

  --st-patricks-blue:  #1E1F26 ;
  --amaranth-purple: hsl(335, 88%, 38%);
  --royal-blue-dark: #1E1F26;
  --chrome-yellow: #fff;
  --space-cadet-1: hsl(230, 41%, 25%);
  --space-cadet-2: hsl(230, 59%, 16%);
  --winter-sky_50: #082d68;
/*  --purple-navy: hsl(236, 26%, 43%);*/
  --purple-navy: #1E1F26;
  --ksu-purple: #1E1F26;
  --winter-sky: hsl(335, 87%, 53%);
  --razzmatazz: #e6e7e8;
  --platinum: hsl(0, 0%, 90%);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --go-green:  #1E1F26;
  --rich-black-fogra-29-2: hsl(230, 14%, 8%);
  --cultured: hsl(0, 0%, 93%);
  --granite-gray: hsl(0, 0%, 40%);
  --white: hsl(0, 0%, 100%);
  --rajah: #e6e7e8;
  /*--white: #fff;*/

  --bg: #fff;
  --black: #262626;
  --white: #fff;
  --gray: #b1b1b1;
  --time: 300ms;

  --gradient-1: linear-gradient(90deg,var(--royal-blue-dark) 0,var(--ksu-purple) 51%,var(--royal-blue-dark));
  --gradient-2: linear-gradient(90deg,var(--razzmatazz) ,var(--rajah));


 /**
   * typography
   */

  --ff-poppins: 'Poppins', sans-serif;
  --ff-cuprum: 'Cuprum', sans-serif;
 
  --fs-1: 4.5rem;
  --fs-2: 3.6rem;
  --fs-3: 3.5rem;
  --fs-4: 3.2rem;
  --fs-5: 2.5rem;
  --fs-6: 2.4rem;
  --fs-7: 2.2rem;
  --fs-8: 2rem;
  --fs-9: 1.8rem;
  --fs-10: 1.5rem;
  --fs-11: 1.4rem;
  --fs-12: 1.3rem;
 
  --fw-600: 600;
  --fw-500: 500;

  /**
   * typography*/
   

  --ff-source-sans-pro: 'Source Sans Pro', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 4.2rem;
  --fs-2: 3.8rem;
  --fs-3: 3.2rem;
  --fs-4: 2.5rem;
  --fs-5: 2.4rem;
  --fs-6: 2rem;
  --fs-7: 1.8rem;
  --fs-8: 1.5rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * border radius
   */

  --radius-5: 5px;
  --radius-4: 4px;
  --radius-12: 12px;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * transition
   */

  --transition-1: 0.15s ease;
  --transition-2: 0.35s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /**
   * transition
   */

   --transition-11: 0.25s ease;
   --transition-22: 0.5s ease;
   --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

  /**
   * shadow
   */

  --shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
  --section-padding: 80px 0;

  --fs-8: 13px;
  --fw-500: 500;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #262626;
    font-family: 'Readex Pro', sans-serif;
	color: #fff;
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn { display: none; }

.header {
  background-color: white;
  color: var(--black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 14px;
  z-index: 4;
  transition: var(--transition-1);
  text-decoration: none;
}

.header.active {
  --color: var(--st-patricks-blue);

  position: fixed;
  background-color: var(--white);
  box-shadow: 0 2px 30px hsla(0, 0%, 0%, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo1 {
  width: 200px;
  height: 40px;
}

.nav-open-btn {
  color: var(--color);
  font-size: 32px;
  padding: 4px;
}

.navbar {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 280px;
  min-height: 100%;
  padding: 20px;
  visibility: hidden;
  z-index: 2;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(280px);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px 30px;
}

.navbar-top .logo {
  color: var(--st-patricks-blue);
  /*font-size: 4.2rem;*/
  width: 150px;
}

.nav-close-btn {
  color: var(--space-cadet-1);
  font-size: 2.8rem;
  padding: 4px;
}

.navbar-item:not(:last-child) { border-bottom: 1px solid var(--platinum); }

.navbar-link {
  color: var(--space-cadet-1);
  font-size: 14px;
  font-weight: var(--fw-600);
  padding-block: 12px;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_70);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-2);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}


/*Carga*/
#contendor_loader{
    background-color: #f3f3f3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 3.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader,
.loader:before,
.loader:after{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: Loader 1.5s infinite ease-in-out;
}
  
.loader{
    color: #262626;
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
}
  
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}
  
.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.loader:after{
    left: 3.5em;
}
@keyframes Loader{
    0%,
    80%,
    100%{
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40%{
      box-shadow: 0 2.5em 0 0;
    }
}

.containo {
	width: 90%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.containo::after {
	content: "";
	width: 2px;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}

.evento {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
}

.evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #DCDFD9;
	border: 2px solid #fff;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.fecha {
	display: flex;
	align-items: center;
	justify-content: start;
	width: calc(42% + 20px);
	font-size: 32px;
	font-weight: normal;
}

.foto {
	width: 40%;
	border: 10px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}

.foto img {
	width: 100%;
	vertical-align: top;
}

.evento:nth-child(even) {
	flex-direction: row-reverse;
}

.evento:nth-child(even) .fecha {
	justify-content: end;
}

.evento:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -50px;
}


footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../images/background-footer.svg);
    background-size: cover;

}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

 @media (min-width: 550px) {

    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 550px;
      margin-inline: auto;
    }
  
    .section-title { --fs-3: 3.6rem; }
  
  
  
    /**
     * HEADER
     */
  
    .header .btn {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-inline-start: auto;
    }
  
  
  
    /**
     * ABOUT
     */
  
    .stats-list { grid-template-columns: repeat(3, 1fr); }
  
  
  
    /**
     * BLOG
     */
  
    .blog-card {
      display: grid;
      grid-template-columns: 0.75fr 1fr;
      gap: 20px;
      padding: 30px;
    }
  
    .blog-card .banner { margin-block-end: 0; }
  
    .blog-card .banner a { height: 100%; }
  
  
  
    /**
     * FOOTER
     */
    .footer-top .container { grid-template-columns: repeat(3, 1fr); }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
  
  
    /**
     * HERO
     */
  
    .hero {
      min-height: 600px;
      display: grid;
      place-items: center;
    }
  
    .hero-content { margin-block-end: 0; }
  
    .hero .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
    }
  
  
  
    /**
     * SERVICE
     */
  
    .service-list { grid-template-columns: 1fr 1fr; }
  
  
  
    /**
     * FEATURES
     */
  
    .features-list > li:first-child { margin-block-end: 0; }
  
    .features-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
    }
  
  
  
    /**
     * FOOTER
     */
    .footer-link-box { grid-template-columns: repeat(4, 1fr); }
  
    .footer-bottom .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
   
    .copyright { margin-bottom: 0; }
    
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 5.4rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 950px; }
  
  
  
    /**
     * HEADER
     */
  
    .header { padding-block: 20px; }
  
    .overlay,
    .nav-open-btn,
    .navbar-top { display: none; }
  
    .navbar,
    .navbar.active {
      all: unset;
      margin-inline-start: auto;
    }
  
    .header .btn { margin-inline-start: 0; }
  
    .navbar-list {
      display: flex;
      gap: 25px;
    }
  
    .navbar-item:not(:last-child) { border-bottom: none; }
  
    .navbar-link { color: var(--color); }
  
  
  
    /**
     * HERO
     */
  
    .hero { min-height: 700px; }
  
  
  
    /**
     * ABOUT
     */
  
    .about .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  
  
  
    /**
     * SERVICE
     */
  
    .service-list { grid-template-columns: repeat(3, 1fr); }
  
  
  
    /**
     * FEATURES
     */
  
    .features-list { grid-template-columns: 1fr; }
  
    .features .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  
    .features .section-title { grid-column: 1 / 4; }
  
    .features-banner {
      margin-block: 0;
      display: grid;
      place-items: center;
    }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-top .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .footer-brand {
      max-width: 300px;
      margin-bottom: 0;
    }
  
    .footer-list li:not(:last-child) { margin-bottom: 15px; }
  
    .footer-list li:first-child { margin-bottom: 20px; }
  
    .footer-link { min-width: 130px; }
  
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1200px; }
  
    .section-title { --fs-3: 4.6rem; }
  
  
  
    /**
     * HERO
     */
  
    .hero { min-height: 800px; }
  
  
  
    /**
     * BLOG
     */
  
    .blog-list { grid-template-columns: 1fr 1fr; }
  
    .blog-card { height: 100%; }
  
    .blog-card .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-brand { max-width: 350px; }
  
    .footer-top .h4 { --fs-5: 20px; }
   
    .footer-link {
     font-size: 18px;
      min-width: 140px;
    }
   
    .copyright,
    .social-link { font-size: 17px; }
   
    .social-list { column-gap: 21px; }
   
    .social-list > li:not(:last-child)::after { right: -10px; }
  
      /**
     * FAQ
     */
  
     .grid-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  
  }